# Application Configuration Environment Example
# Node execution environment mode (development, production, or test)
NODE_ENV=development

# Site URL and Contact Settings
NEXT_PUBLIC_SITE_URL=https://oluwaseun.toamultitech.tech
NEXT_PUBLIC_WHATSAPP_PHONE=2348093924896
